!!!5
%html
	%head
		%meta{charset: "UTF-8"}
		%title test
		%link{href: "css/jquery-ui.css", :rel => "stylesheet"}
		%link{href: "css/jquery-ui.structure.css", :rel => "stylesheet"}
		%link{href: "css/jquery-ui.theme.css", :rel => "stylesheet"}
		%link{href: "css/style.css", :rel => "stylesheet"}
		%script{src: "js/jquery.js"}
		%script{src: "js/jquery-ui.min.js", type: "text/javascript"}
		%script{src: "js/script.js"}
	%body
		%div.wrapper
			%nav
				%ul.menu#accordion
					%li.menu__element
						%a.menu__link{href: "#"} M A N
					%ul.menu__drop
						%li.drop__element
							%a.drop__link{href: "#"} Jackets
						%li.drop__element
							%a.drop__link{href: "#"} Blazers
						%li.drop__element
							%a.drop__link{href: "#"} Suits
						%li.drop__element
							%a.drop__link{href: "#"} Trousers
						%li.drop__element
							%a.drop__link{href: "#"} Jeans
						%li.drop__element
							%a.drop__link{href: "#"} Shirts						
					%li.menu__element
						%a.menu__link{href: "#"} W O M A N
					%ul.menu__drop
						%li.drop__element
							%a.drop__link{href: "#"} Jackets
						%li.drop__element
							%a.drop__link{href: "#"} Blazers
						%li.drop__element
							%a.drop__link{href: "#"} Suits
						%li.drop__element
							%a.drop__link{href: "#"} Trousers
						%li.drop__element
							%a.drop__link{href: "#"} Jeans
						%li.drop__element
							%a.drop__link{href: "#"} Shirts	
					%li.menu__element
						%a.menu__link{href: "#"} K I D
					%ul.menu__drop
						%li.drop__element
							%a.drop__link{href: "#"} Jackets
						%li.drop__element
							%a.drop__link{href: "#"} Blazers
						%li.drop__element
							%a.drop__link{href: "#"} Suits
						%li.drop__element
							%a.drop__link{href: "#"} Trousers
						%li.drop__element
							%a.drop__link{href: "#"} Jeans
						%li.drop__element
							%a.drop__link{href: "#"} Shirts	
					%li.menu__element
						%a.menu__link{href: "#"} S H O S E
					%ul.menu__drop
						%li.drop__element
							%a.drop__link{href: "#"} Jackets
						%li.drop__element
							%a.drop__link{href: "#"} Blazers
						%li.drop__element
							%a.drop__link{href: "#"} Suits
						%li.drop__element
							%a.drop__link{href: "#"} Trousers
						%li.drop__element
							%a.drop__link{href: "#"} Jeans
						%li.drop__element
							%a.drop__link{href: "#"} Shirts
				%div.colors
					%div.size__block1
						%span.block1__text C O L O R S
					%div.size__block2
						%a.colors__block1__circle.block1__circle_first.colors__block2_bg1{href: "#"}
						%a.colors__block1__circle.colors__block2_bg2{href: "#"}
						%a.colors__block1__circle.colors__block2_bg3{href: "#"}
						%a.colors__block1__circle.colors__block2_bg4{href: "#"}
						%a.colors__block1__circle.colors__block2_bg5{href: "#"}
						%a.colors__block1__circle.block1__circle_first.colors__block2_bg6{href: "#"}
						%a.colors__block1__circle.colors__block2_bg7{href: "#"}
						%a.colors__block1__circle.colors__block2_bg8{href: "#"}
						%a.colors__block1__circle.colors__block2_bg9{href: "#"}
						%a.colors__block1__circle.colors__block2_bg10{href: "#"}	
				%div.size
					%div.size__block1
						%span.block1__text S I Z E
					%div.size__block2
						%a.block1__circle.block1__circle_first{href: "#"} XS
						%a.block1__circle{href: "#"} S
						%a.block1__circle{href: "#"} M
						%a.block1__circle{href: "#"} L
						%a.block1__circle.block1__circle_last{href: "#"} XS				
				%div.range
					%div.size__block1
						%span.block1__text P R I C E  R A N G E
					%div.size__block2
						%div#range__roll
						%label
							%input#range__min{type: "text"}
							%input#range__max{type: "text"}						
			%main
				%div.box
					%div.box__image
					%div.box__descriptionall
						%span.descriptionall__name Our Legacy Splash Jacquard Knit
						%span.descriptionAll__description Black Grey Plants
						%span.descriptionAll__price $290
				%div.box
					%div.box__image.box__image_2
					%div.box__descriptionall
						%span.descriptionall__name Our Legacy Splash 50s Sweater
						%span.descriptionAll__description Grey Melange 
						%span.descriptionAll__price $160					
				%div.box.box_mroff
					%div.box__image.box__image_3
					%div.box__descriptionall
						%span.descriptionall__name Our Legacy Splash First Shirt
						%span.descriptionAll__description Navy Crinkle
						%span.descriptionAll__price $180
				%div.box
					%div.box__image.box__image_4
					%div.box__descriptionall
						%span.descriptionall__name Our Legacy Splash Mid Sleeve Tee
						%span.descriptionAll__description Black Grey Plants
						%span.descriptionAll__price $90
				%div.box
					%div.box__image.box__image_5
					%div.box__descriptionall
						%span.descriptionall__name Our Legacy 50s Great Sweat
						%span.descriptionAll__description Super Light Print
						%span.descriptionAll__price $120
				%div.box.box_mroff
					%div.box__image.box__image_6
					%div.box__descriptionall
						%span.descriptionall__name Our Legacy Splash Jacquard Knit
						%span.descriptionAll__description Black Grey Plants
						%span.descriptionAll__price $320
				%div.box
					%div.box__image.box__image_7
					%div.box__descriptionall
						%span.descriptionall__name Our Legacy Six Shirt
						%span.descriptionAll__description Raster Grey
						%span.descriptionAll__price $150
				%div.box
					%div.box__image.box__image_8
					%div.box__descriptionall
						%span.descriptionall__name Our Legacy Bomber Jacket II
						%span.descriptionAll__description Faded Olive Twill
						%span.descriptionAll__price $570
				%div.box.box_mroff
					%div.box__image.box__image_9
					%div.box__descriptionall
						%span.descriptionall__name Our Legacy 50s Great Sweat
						%span.descriptionAll__description Black Grey Plants
						%span.descriptionAll__price $190
				%div.load-more
					%span.load-more__text Load More


				
