!!!5
%html
  %head
    %meta{charset: "UTF-8"}
    %title Тур Фирма
    %link{href: "styles.css", :rel => "stylesheet"}
  %body
    %header
      %div.head
        %div.logo
        %div.tel
          %span.tel__text1 Звоните прямо сейчас
          %span.tel__text2 8 800 800 00 00
        %div.buttom  
          %a.buttom_silka{href: "#"} Заказать звонок
    %main
      %div.main
        %div.nadpis
          %span.nadpis__text1 Настоящий</br> Vip-туризм - это мы
          %span.nadpis__text2 Исполняем любые желания
    %footer
      %div.footer
        %div.text
          %p.text__text1 Устали  искать действительно качественные услуги, которые оправдают все ваши желания?
          %p.text__text2 Заверения часто оказываются пустыми словами,которые не соответсвую реальности? Вы уверены что достойны большего? Нашем сервисом вы останитесь довольны на все 100%. Мы знаем что такое турим vip-классом, и котовы доказать вам это       
        %div.strelka
        %div.forma
          %p.forma__text </br>Оставте заявку - наш менеджер свяжется с вами и даст подробнную,обсолютно бесплатную </br>VIP-консультацию
          %form.forma__nest{action:"/"}
            %input.forma__nest1{type: "text", placeholder: "Имя*", required: ""}
            %input.forma__nest1{type: "tel", placeholder: "Телефон*", required: ""}  
            %input.forma__nest1{type: "email", placeholder: "E mail", required: ""}
            %input.forma__nest2{type: "submit", value: "Получить консультацию"}  
          
          
        
		